.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa; /* Light background color */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 20px;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.search-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: blue;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-button .pi-search {
  font-size: 20px;
}

.user-actions {
  display: flex;
  align-items: center;
}

.cart-button {
  font-size: 14px;
  color: white;
  background-color: #007bff;
}
